/* Mobile frist */
/* Extra small devices (portrait phones, less than 576px) */
:root{
    --clr-primary: #ffffff;
    --clr-primary-hover: #7f7f7f;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*--------------------------------------------------------------
    <main>
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/*--------------------------------------------------------------
    <section> - hero
--------------------------------------------------------------*/

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.hero__container{
    width: 550px;
    margin: 25px;
    margin-bottom: 50px;
    text-align: justify;
}

/*--------------------------------------------------------------
    @media
--------------------------------------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .hero{
        background-color: silver;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero{
        background-color: aquamarine;
    }
}

/* Medium - Large devices (portatils petits, 1069px and up) */
@media (min-width: 1069px) {
    .hero{
        background-color: yellowgreen;
    }
}

/* Large devices (portatils, 1281px and up) */
@media (min-width: 1281px) {
    .hero{
        background-color: yellow;
    }
}

/* Extra large devices (sobretaula, 1441px and up) */
/* Apartir d'aquí es solen col·locar caixes de 1440px en total perque creixin els laterals depenent l'amplada o simplement full with */
@media (min-width: 1441px) {
    .hero{
        background-color: red;
    }
}

/*--------------------------------------------------------------
    @media - compressed
--------------------------------------------------------------*/

/* Tablets amb height comprimit */
@media screen and (max-width: 1068px) and (min-width: 768px) and (max-height: 733px) and (min-height: 0px) {
    .hero{
        background-color: lightcyan;
    }
}

/* Portatils amb height comprimit */
@media screen and (max-width: 1440px) and (min-width: 1069px) and (max-height: 775px) and (min-height: 0px) {
    .hero{
        background-color: lightyellow;
    }
}

/* Sobretaula amb height comprimit */
@media screen and (max-width: 1441000px) and (min-width: 1441px) and (max-height: 775px) and (min-height: 0px) {
    .hero{
        background-color: pink;
    }
}